*:focus {
  outline: none;
}

.App {
  text-align: center;
}

p {
  margin: 1em;
}

.main-container {
  display: grid;
  place-items: center center;
}

.inputs {
  display: flex;
  flex-direction: row;
}

.units {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

img.octo {
  width: 3em;
  height: auto;
}
