@import url("https://fonts.googleapis.com/css?family=Open+Sans:300");

*:focus {
  outline: none;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
}

.App {
  text-align: center;
}

h1,
h2,
h3,
h4 {
  color: #314351;
}

p {
  color: #61717d;
  margin: 1em;
}

input {
  text-align: center;
  width: 3em;
  font-family: "Open Sans", sans-serif;
  font-size: 1em;
  border: 1px solid grey;
  margin: auto 0.5em;
  border: none;
  border-bottom: 2px solid #ff5500;
}

.main-container {
  display: grid;
  place-items: center center;
}

.inputs {
  margin: 1em 1em;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.unit {
  font-size: 1.5em;
  color: #314351;
}

.units {
  margin: 1em auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.units-disabled {
  font-size: 1em;
  color: #9a9a9a;
  font-style: italic;
}

.converter {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

img.octo {
  width: 3em;
  height: auto;
}
